:root{
    --background-color1: #F9F9F9;
    --background-color2: #F3F3F3;
    --primary-color1: #1A237E;
    --letter-color1: #454652;
}

*{
    background-color: var(--background-color1);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#head{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    border-bottom: 2px solid #45465250;
}

#img-head{
    width: 5%;
    height: 100%;
}

#title-head{

}

#button-head{
    color: var(--background-color1);
    background-color: var(--primary-color1);
    
}